.area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
    justify-content: space-between;
  -webkit-justify-content: space-between;
}
.navbar > .list > .item {

  height: 64px;
  line-height: 64px;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
}