<!DOCTYPE html>
<html>
<head>
	<title>IKNSA - course</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
	<app-header></app-header>


	<div class="jumbotron iknsa-course">
	  <h1 class="display-3">Hello, world!</h1>
	  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  </p>

		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Titre</th>
				<th scope="col">Résumé</th>
				<th scope="col">Contenu</th>
				<th scope="col">Date de publication</th>
				<th scope="col">Image</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let post of posts">
				<th scope="row">1</th>
				<td>{{ post.title }}</td>
				<td>{{ post.summary }}</td>
				<td>{{ post.content }}</td>
				<td>{{ post.createdAt.date }}</td>
				<td><img src="assets/{{ post.id }}.{{ post.extension }}" alt="image" style="width:75px;max-height:75px;"></td>

			</tr>

			</tbody>
		</table>

	</div>
<h1>
  {{title}}
  <app-demo></app-demo>
  <app-sidebar></app-sidebar>
</h1>
<app-footer></app-footer>
</body>
</html>

