<div class="col-md-3 sidebar">
  <div class="list-group">
    <a href="#" class="list-group-item active">I'm the Sidebar</a>
     <a routerLink="/" class="list-group-item">Accueil</a>
    <a routerLink="/about" class="list-group-item">A propos de  nous</a>
    <a routerLink="/users" class="list-group-item">Utilisateurs</a>
    <a routerLink="/contact" class="list-group-item">Contact</a>
    <a href="#" class="list-group-item">Menu1</a>
    <a href="#" class="list-group-item">Menu 2</a>
    <a href="#" class="list-group-item">Menu 2</a>
    <a href="#" class="list-group-item">Menu 2</a>
    <a href="#" class="list-group-item">Menu 2</a>
  </div>
</div><!--/.sidebar-offcanvas-->